html, body {
    width:  100%;
    height: 100%;
}

#line-marker {
    font-family: 'Chicle', serif;
}

button#button.w3-button {
    height: inherit;
}


button {
    background-color: #FECE00;
    border: none;
    color: #FECE00;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: 5px;
    cursor: pointer;
}

/* This is the clear button*/
button.w3-button {
    font-family: 'Chicle', serif;
    font-size: large;
    background-color: #262228;
    color: #FECE00;
    border: 2px solid #FECE00;
    width: 100%;
    margin: 0;
}

#boardlist {
    margin: 0;
    background-color: #262228;
}

button#formButton.w3-button : hover {
    background-color: #262228;
    color: #FECE00;
}

button#formButton.w3-button {
    background-color: #262228;
    color: #FECE00;
    margin: 5px;
}


.flex-container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    height: 100%;
    background-color: #262228;
}

form#inputs.w3-container {
    background-color: #FECE00;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 12px 20px;
    box-sizing: border-box;
    border: 5px solid #262228;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin: 0;
}


.w3-container {
     height: 100%;
     background-color: #F0141E;
     color: #000000;
}


.flex-container #inputs {
    height: auto;
    background-color: #f1f1f1;
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

ul {
    list-style-type: none;
    background: #FECE00;
    border: 5px solid #262228;
    padding-left: 0;
    margin-left: 0;
}

div#boardlist {
    border-left: 3px solid #000000;
    margin: 0;
}


li {
    font-family: 'Chicle', serif;
    color: #FECE00;
    background: #262228;
    margin: 5px;
}

#formButton {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


canvas {
     background-color: #262228;
     border-right: 3px solid #000000;
     height: relative;
     width: relative;
}


input {
    width: 100%;
    padding: 12px 25px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    flex-grow: 1;
    display: inline-block;
}


input#height-input {
    border: 5px solid #262228;
    font-family: 'Chicle', serif;
    margin: 5px;
    text-align: center;
}


input#measurementInputs {
    border: 5px solid #262228;
    font-family: 'Chicle', serif;
    margin: 5px;
    text-align: center;
}
